body{
  font-family: 'Quicksand', sans-serif;
  background-image: url('../images/bgd.jpg');
  color: black;
  font-size: 19px;
}
h1{
  font-size: 41px;
  padding-top: 30px;
}
.container{
  width: 80%;
  margin: auto;
}
.content{
  background-color: gold;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: auto;
  padding-bottom: 20px;
  box-shadow: 2px 2px #000000;
  border-radius: 0.5%;
}